<!-- this is the menue -->
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header nav-small-cap">PERSONAL</li>
            <li class="treeview active">
                <a href="#">
                    <i class="mdi mdi-view-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="dash"><i class="fa fa-circle-thin"></i>Dashboard 1</a></li>
                    <li><a href="dashTwo"><i class="fa fa-circle-thin"></i>Dashboard 2</a></li>
                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="mdi mdi-view-dashboard"></i><span>Depences</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="['depences/ajout']"><i class="fa fa-circle-thin"></i>nouveau dépense</a></li>
                    <li><a href="dashTwo"><i class="fa fa-circle-thin"></i>liste des dépense</a></li>
                </ul>
            </li>

        </ul>
    </section>
</aside>
<!-- /this is the menue -->