<body class="hold-transition bg-gray-light">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-lg-5 col-md-8 col-12">
                <div class="content-top-agile bg-img imgUrl" data-overlay="4">
                    <h2>Login With</h2>
                    <p class="gap-items-2 mb-20">
                        <a class="btn btn-social-icon btn-outline btn-white" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-outline btn-white" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-outline btn-white" href="#"><i
                                class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-outline btn-white" href="#"><i
                                class="fa fa-instagram"></i></a>
                    </p>
                </div>
                <div class="p-40 mt-10 bg-white content-bottom box-shadowed">
                    <form action="http://softpro-admin-templates.websitedesignmarketingagency.com/main/index.html"
                        method="post">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-danger"><i
                                            class="ti-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-danger"><i
                                            class="ti-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="checkbox">
                                    <input type="checkbox" id="basic_checkbox_1">
                                    <label for="basic_checkbox_1">Remember Me</label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-6">
                                <div class="fog-pwd text-right">
                                    <a href="javascript:void(0)"><i class="ion ion-locked"></i> Forgot pwd?</a><br>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-danger-outline btn-block mt-10 btn-rounded">SIGN
                                    IN</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <div class="text-center mt-20">
                        <p class="mb-0">Don't have an account? <a href="javascript:void(0)" class="text-info ml-5">Sign
                                Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from softpro-admin-templates.websitedesignmarketingagency.com/main/pages/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 29 Oct 2019 10:19:11 GMT -->